body{
  background:#27282c;
}
.page-container {
  background: #27282c;
}
#card1 {
  background-color: #1565c0;
  box-shadow: 0 0 5px 2px #1565c0;
  transition: box-shadow 0.3s ease-in-out;
}

#card1:hover {
  box-shadow: 0 0 20px 5px #1565c0;
}
